#app
  .resume
    .left
      h1.myName {{Name}}
      .info
        h4.title {{Title}} 
        p.summary(v-html="Summary")
      hr
      .skills
        .skill.lang
          h3(ref="lang" @click="HideContent('lang')") {{Skills.Languages.Title}}
          ul
            li.item(v-for="item in Skills.Languages.List")
              .name {{item.Name}}
              .bar
                .value(:style="{width: 100*item.Level/5 + '%'}")
                  .desc {{item.LevelDesc}}
        .skill.tech
          h3(ref="tech" @click="HideContent('tech')")  {{Skills.Techniques.Title}}
          ul
            li.item(v-for="item in Skills.Techniques.List")
              .name {{item.Name}}
        .skill.tool
          h3(ref="tool" @click="HideContent('tool')")  {{Skills.Tools.Title}}
          ul.toolTypes
            li(v-for="type in ToolTypes") 
              .toolType.badge.badge-pill {{type}}
              ul.items
                li.item(v-for="item in Skills.Tools.List" v-if="item.Type === type") {{item.Name}}              
                
    .right
      .experiences
        h3(ref="exp" @click="HideContent('exp')")  Experiences
        ul.timePoints
          li(v-for="exp in Experiences")
            h5.timePoint {{exp.Year}}
            ul.events
              li.event(v-for="(event, index) in exp.Events") 
                .display(v-if="event.Display")
                  h4.desc 
                    i(:class="event.IconClass" v-if="event.IconClass")
                    |{{event.Description}}
                  hr
                  p.detail(v-if="event.Detail" v-html="event.Detail")
                  a.organization(:href="event.Link" target="_blank" v-html="event.Organization")
                  .location @ {{event.Location}}
                  .hideBtn(@click="HideEvent(exp.Events[index])")
                .collapsed(v-if="!event.Display" @click="ShowEvent(exp.Events[index])")
      .projects
        h3(ref="proj" @click="HideContent('proj')")  Projects
        ul.timePoints
          li(v-for="project in Projects")
            h5.timePoint {{project.Year}}
            ul.events
              li.event(v-for="(proj, index) in project.Events") 
                h4.desc 
                  a(:href="proj.Link" target="_blank") {{proj.Description}}
                ul.roles
                  li.role(v-for="role in proj.Roles") {{role}}
                hr
                p.detail(v-if="proj.Detail" v-html="proj.Detail")
                ul.features
                  li.feature(v-for="feature in proj.Features") {{feature}}
                a.organization(:href="proj.Link" target="_blank" v-html="proj.Organization")
                
    .contact
      ul
        li
          a(:href="'mailto:'+Email" target="_blank") {{Email}}
        li LinkedIn: 
          a(:href="LinkedInUrl" target="_blank") Ohni-Tsai
    .photo
      //- a.more.btn.btn-primary(href="https://www.google.com" target="_blank") More
    //- .corner more